*{
    font-family: 'Bebas Neue', cursive;
}
body{
    background: whitesmoke;
}
h1{
    text-align: center;
    margin: 25px 0px 15px;
    font-size: 40px;
    letter-spacing: 2px;
}
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6)
}
.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*IMAGE CONTAINER*/
.image-container{
    margin: 10px 30%;
}
.image-container img{
    width: 100%;
    margin-top: 5px;
}

/*MEDIA QUERY: Large Smart Phone*/

@media screen and (max-width: 600px){

    h1{
        font-size: 28px;
    }
    .image-container{
        margin: 10px;
    }
}